body{
    background-color: rgb(22, 156, 240);
    display: flex;
    min-height: 100vh;
}

.container{
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 35px;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}
h1{
    font-size: 50px;
    
}

input{
    width: 400px;
    height: 40px;
    background-color: rgb(245, 238, 238);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left: hidden;
    border-bottom-style: groove;
    
}

::placeholder {
    padding-left: 20px;
    font-size: 20px;
    
}

.input1{
    padding-bottom: 30px;
}
.input2{
    padding-bottom: 20px;
}

p{
    font-size: 20px;
    padding-bottom: 20px;
}

button{
    padding: 10px 100px;
    background-color: blue;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    border-bottom: none;
}

button:hover{
    background-color: black;
}

@media(max-width: 420px){
.container{
    width: 370px;
}
h1{
    padding-top: 15px;
    font-size: 50px;
}

input{
    width: 300px;
}

p{
    font-size: 20px;
    margin-top: 10px;
}

button{
    padding: 5px 90px;
}
}


    
    

